<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Required meta tags -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

<head>
    <title>Summary</title>
</head>
<body style="padding: 20px">

<div>
    <nav class="navbar navbar-dark bg-dark" style="color: white">SUMMARY
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="color: blue"></span>
        <a href="/update/user" class="nanbar-form navbar-right" style="color: white">My Account</a>
    </nav>

</div>

<br/>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
           aria-controls="nav-home" aria-selected="true">Profile</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
           aria-controls="nav-profile" aria-selected="false">Course</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
           aria-controls="nav-contact" aria-selected="false">Education</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br/>
        <div class="row">
            <div class="col-md-3" style="padding: 20px">
                <div th:each="elem:${photo}">
                    <img th:icon="elem" class="img-responsive img-rounded" width="200" height="280" src="#"/>
                </div>
            </div>
            <div class="col-md-3" style="padding: 20px">
                <a style="color: black">Name:</a>
                <br/>
                <a style="color: black">Data of birth:</a>
                <br/>
                <a style="color: black">Nationality:</a>
                <br/>
                <a style="color: black">Phone:</a>
                <br/>
                <a style="color: black">Email:</a>
                <br/>
                <a style="color: black">Site:</a>
            </div>
            <div class="col-md-6" style="padding: 20px">
                <form th:object="${user}" method="get">
                    <a th:text="*{name}"></a> <span></span><a th:text="*{surname}"></a>
                    <br/>
                    <a th:text="*{data}"></a>
                    <br/>
                    <a th:text="*{nationality}"></a>
                    <br/>
                    <a th:text="*{phone}"></a>
                    <br/>
                    <a th:text="*{email}"></a>
                    <br/>
                </form>
                <form method="post">
                    <div th:each="elem:${site}">
                        <a th:text="${elem}" style="color:#0a51b4"></a>
                        <br/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form th:each="elem:${course}">
            <div class="row">
                <div class="col-md-2" style="padding: 20px"><code>School</code>
                    <br/>
                    <p>
                        <small>
                            <mark th:text="${elem.name}"></mark>
                        </small>
                    </p>
                </div>
                <div class="col-md-3" style="padding: 20px">Site
                    <br/>
                    <p>
                        <small th:text="${elem.site_name}"></small>
                    </p>
                </div>
                <div class="col-md-2" style="padding: 20px">Name course
                    <br/>
                    <p>
                        <small th:text="${elem.nameCourse}"></small>
                    </p>
                </div>
                <div class="col-md-1" style="padding: 20px">Data
                    <br/>
                    <p>
                        <small th:text="${elem.data}"></small>
                    </p>
                </div>
                <div class="col-md-2" style="padding: 20px">Description
                    <br/>
                    <p>
                        <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapseExample"
                           role="button" aria-expanded="false" aria-controls="collapseExample">
                            <small style="color: red">more info</small>
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <p>
                                <small th:text="${elem.descriptions}"></small>
                            </p>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-md-1" style="padding: 20px">Certificate
                    <p>
                        <small th:text="${elem.certificatePhoto}"></small>
                    </p>
                </div>
                <br/>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
<script>
    $('.collapse').collapse()
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>